.wrapper {
    height: 100%;
    display: flex;
    margin: 0;
}
.content {
    flex: 1;
}
.navs {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1px solid rgba(22, 24, 35, 0.2);
}
.nav-home {
    align-items: center;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 hàng đều nhau */
    gap: 5px; /* Khoảng cách giữa các phần tử */
}
.pading10px {
    margin-left: 10px;
}
.header {
    margin-left: 10px;
    background-color: white;
    cursor: pointer;
    font-size: 22px;
    padding: 5px 5px;

    &:hover {
        opacity: 0.5;
    }
}
.header-icon {
    margin-right: 20px;
    align-items: center;
}
.search-btn {
    font-size: 20px;
    background-color: white;
    margin-right: 20px;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}
.form-content {
    margin-left: 10px;
    width: 351px;
}
.mb-4 {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.input-border {
    border: 1.5px solid transparent;
    outline: grey solid 1px;
    height: 25px;
    margin-top: 5px;
    border-radius: 2px;
    padding: 7px 5px;
    height: 3.2rem;
    &:focus {
        border: 1px solid rgb(123, 213, 189);
    }
}
.content-header {
    flex: 1;
    margin-left: 30px;
}
.form-create {
    display: flex;
    justify-content: space-around;
    background-color: #f4f6fa;
    padding: 2rem;
}
.form-content {
    background-color: white;
    padding: 1rem;
}
table {
    border-collapse: collapse;
    margin-top: 10px;

    width: 100%;
}
tr,
th {
    padding: 0 10px;
    border: 0.5px solid gray;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}
.content-header {
    background-color: white;
    padding: 1rem;
}

#menu {
    display: none; /* Ban đầu menu sẽ bị ẩn */
}

#menu.show {
    display: block; /* Menu sẽ hiển thị khi thêm class "show" */
}
