.wrapper {
    width: 220px;
    height: 100vh;
    background-color: #0f1a34;
    font-size: 16px;
    font-weight: 400;
}

img{
    .icon{
        width: 25%;
    }
    
}

.content {
    color: #fff;
    padding-left: 1.5rem;
    font-weight: 200;
    cursor: pointer;
    display: grid;
    grid-template-rows: repeat(11, 1fr); /* 5 cột đều nhau */
    gap: 20px; /* Khoảng cách giữa các phần tử */

    a[href] {
        color: #fff;
        font-weight: 200;
        cursor: pointer;
        text-decoration: none;
    }
}

.content-btn {
    &:hover {
        opacity: 0.5;
    }
}
