.wrapper {
    width: 200px;
    height: 100%;
    background-color: #2c3e50;
    font-size: 16px;
    font-weight: 400;
}

.search {
    position: relative;
    width: 200px;
    height: 40px;
    display: flex;
    background: white;
    border: 1.5px solid transparent;
    padding: 0;
    margin-bottom: 10px;
    outline: none;

    input {
        flex: 1;
        height: 100%;
        color: black;
        font-size: 1.6rem;
        background-color: transparent;
        caret-color: var(--primary);
        padding: 0 5px;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-btn {
    width: 52px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.content {
    color: #fff;
    padding-left: 1.5rem;
    font-weight: 200;
    cursor: pointer;
    display: grid;
    grid-template-rows: repeat(11, 1fr); /* 5 cột đều nhau */
    gap: 20px; /* Khoảng cách giữa các phần tử */

    a[href] {
        color: #fff;
        font-weight: 200;
        cursor: pointer;
        text-decoration: none;
    }
}

.content-btn {
    &:hover {
        opacity: 0.5;
    }
}
